apiVersion: v1
kind: Service
metadata:
  labels: {{- include "hdp.labels.merge" (dict "commonLabels" .Values.hdp.commonLabels "specificLabels" .Values.hdp.services.labels "context" .) | nindent 4 }}
  annotations:
    {{- $baseAnnotations := include "hdp.service.baseAnnotations" . -}}
    {{- include "hdp.annotations.merge" (dict "commonAnnotations" .Values.hdp.commonAnnotations "specificAnnotations" .Values.hdp.services.annotations "baseAnnotations" $baseAnnotations "context" .) | nindent 4 }}
  name: {{ .Release.Name }}-{{ .Values.hdp.services.hdpService.name }}
  namespace: {{ .Release.Namespace }}
spec:
  {{- if eq .Values.hdp.hdpingressconfiguration.clusterType "cloud" }}
  type: ClusterIP
  {{ else }}
  type: NodePort
  {{- end }}
  ports:
  - name: hdpserver-port
    port: {{ .Values.hdp.ports.hdpServer.port }}
    protocol: TCP
    targetPort: {{ .Values.hdp.ports.hdpServer.targetPort }}
  - name: internal-api-port
    port: 8190
    protocol: TCP
    targetPort: 8190
  selector: {{- include "hybriddatapipeline.selectorLabels" . | nindent 8 }}
