{{- $global := . }}
{{- $replicas:= int .Values.hdp.replicaCount }}

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  labels: {{- include "hdp.labels.merge" (dict "commonLabels" .Values.hdp.commonLabels "specificLabels" .Values.hdp.hdpingressconfiguration.labels "context" .) | nindent 4 }}
  annotations:
    {{- $baseAnnotations := include "hdp.ingress.baseAnnotations" . -}}
    {{- include "hdp.annotations.merge" (dict "commonAnnotations" .Values.hdp.commonAnnotations "specificAnnotations" .Values.hdp.hdpingressconfiguration.annotations "baseAnnotations" $baseAnnotations "context" .) | nindent 4 }}
  name: {{ .Release.Name }}-{{ .Values.hdp.hdpingressconfiguration.ingressName }}
  namespace: {{ .Release.Namespace }}
spec:
  {{- if .Values.hdp.hdpingressconfiguration.haproxy.enabled }}
  ingressClassName: {{ .Values.hdp.hdpingressconfiguration.haproxy.ingressClass }}
  {{- else if .Values.hdp.hdpingressconfiguration.agic.enabled }}
  ingressClassName: {{ .Values.hdp.hdpingressconfiguration.agic.ingressClass }}
  {{- end }}
  {{- if eq .Values.hdp.hdpingressconfiguration.clusterType "cloud" }}
  {{- end }}
  rules:
  - host: {{ .Values.hdp.loadbalancer.hostName }}
    http:
      paths:
      - backend:
          service:
            name: {{ .Release.Name }}-{{ .Values.hdp.services.hdpService.name }}
            port:
              number: {{ .Values.hdp.ports.hdpServer.port }}
        path: /
        pathType: Prefix
        {{- if .Values.hdp.onPremiseConnector.enabled }}
      - backend:
          service:
            name: {{ .Release.Name }}-{{ .Values.hdp.services.notificationService.name }}
            port:
              number: {{ .Values.hdp.ports.notificationServer.port }}
        path: {{ .Values.hdp.services.notificationService.aclPath }}
        pathType: Prefix
        {{- range $ordinal := until $replicas }}
        {{ $opaPath := (printf "%s-%s-%d" $global.Release.Name $global.Values.hdp.services.hdpService.name $ordinal) }}
      - backend:
          service:
            name: {{ $global.Release.Name }}-{{ $global.Values.hdp.services.opAccessorService.name }}-{{ $ordinal }}
            port:
              number: {{ $global.Values.hdp.ports.opAccessor.port }}
        path: {{ $global.Values.hdp.services.opAccessorService.aclPath }}_{{ $opaPath }}
        pathType: Prefix
        {{- end }}
        {{- end }}
  {{- if .Values.hdp.hdpingressconfiguration.tls.enabled }}
  tls:
  - hosts:
    - {{ .Values.hdp.loadbalancer.hostName }}
    secretName: {{ .Values.hdp.hdpingressconfiguration.tls.secretName }}
  {{- end }} 

