{{- if .Values.hdp.persistence.logs.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  labels: {{- include "hdp.labels.merge" (dict "commonLabels" .Values.hdp.commonLabels "specificLabels" .Values.hdp.configLabels "context" .) | nindent 4 }}
  annotations: {{- include "hdp.annotations.merge" (dict "commonAnnotations" .Values.hdp.commonAnnotations "specificAnnotations" .Values.hdp.configAnnotations "context" .) | nindent 4 }}
  name: {{ .Release.Name }}-logging-properties-configmap
data:
  hdplogging.properties: |-
{{ tpl (.Files.Get (printf "config/hdplogging.properties")) . | indent 4 }}
{{- end }}
