{{- if .Values.hdp.onPremiseConnector.enabled }}

---
apiVersion: v1
kind: Service
metadata:
  labels: {{- include "hdp.labels.merge" (dict "commonLabels" .Values.hdp.commonLabels "specificLabels" .Values.hdp.services.labels "context" .) | nindent 4 }}
  annotations:
    {{- $baseAnnotations := include "hdp.notificationService.baseAnnotations" . -}}
    {{- include "hdp.annotations.merge" (dict "commonAnnotations" .Values.hdp.commonAnnotations "specificAnnotations" .Values.hdp.services.annotations "baseAnnotations" $baseAnnotations "context" .) | nindent 4 }}
  name: {{ .Release.Name }}-{{ .Values.hdp.services.notificationService.name }}
  namespace: {{ .Release.Namespace }}
spec:
  {{- if eq .Values.hdp.hdpingressconfiguration.clusterType "cloud" }}
  type: ClusterIP
  {{ else }}
  type: NodePort
  {{- end }}
  ports:
  - name: notificationserver-port
    port: {{ .Values.hdp.ports.notificationServer.port }}
    protocol: TCP
    targetPort: {{ .Values.hdp.ports.notificationServer.targetPort }}
  selector: {{- include "hybriddatapipeline.selectorLabels" . | nindent 8 }}
{{- end }}
