{{- $global := . }}
{{- if .Values.hdp.onPremiseConnector.enabled }}
{{- $replicas := int .Values.hdp.replicaCount }}
{{- range $ordinal := until $replicas }}

---
apiVersion: v1
kind: Service
metadata:
  labels: {{- include "hdp.labels.merge" (dict "commonLabels" $global.Values.hdp.commonLabels "specificLabels" $global.Values.hdp.services.labels "context" $global) | nindent 4 }}
  annotations:
    {{- $baseAnnotations := include "hdp.opaService.baseAnnotations" (dict "context" $global "ordinal" $ordinal) -}}
    {{- include "hdp.annotations.merge" (dict "commonAnnotations" $global.Values.hdp.commonAnnotations "specificAnnotations" $global.Values.hdp.services.annotations "baseAnnotations" $baseAnnotations "context" $global) | nindent 4 }}
  name: {{ $global.Release.Name }}-{{ $global.Values.hdp.services.opAccessorService.name }}-{{ $ordinal }}
  namespace: {{ $global.Release.Namespace }}
spec:
  {{- if eq $global.Values.hdp.hdpingressconfiguration.clusterType "cloud" }}
  type: ClusterIP
  {{ else }}
  type: NodePort
  {{- end }}
  ports:
  - name: opaccessor-port
    port: {{ $global.Values.hdp.ports.opAccessor.port }}
    protocol: TCP
    targetPort: {{ $global.Values.hdp.ports.opAccessor.targetPort }}
  selector: {{- include "hybriddatapipeline.selectorLabels" $global | nindent 8 }}
{{- end }}
{{- end }}
